body {
    background-color: rgba(224, 243, 232, 0.619);
}

h1 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 2rem;
    color: #ff6c47;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#header-ctnr {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#search-ctnr {
    position: relative;
    top: 2rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#search-ctnr input {
    width: 12rem;
    height: 2rem; 
    font-size: 1rem;
    border-radius: 4px;
}

#search-ctnr button {
    height: 2.5rem;
    width: 5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-ctnr button:hover {
    background-color: rgba(0, 0, 0, 0.382);
    color: white;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap; 
}

.recipe-container, .detail-container {
    width: 45%;
}

.recipe-card {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.recipe-thumbnail {
    width: 100%;
    border-radius: 4px;
}

.detail-container ul {
    padding-left: 1rem;
}

.detail-container p,
.detail-container ul {
    margin: 0.5rem 0;
}

#guest-form-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

#guest-form {
    display: flex;
    gap: 10px; 
    align-items: center;
}

#comment-input, input {
    width: 15rem;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#submit-comment {
    padding: 8px 16px; 
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(243, 180, 103);
    border: none;
    font-size: 1rem;
}

#submit-comment:hover {
    background-color: rgb(248, 159, 49);
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
